**/node_modules/
**/.git
**/.gitignore
.idea/
.vscode/
.DS_Store
**/__pycache__/
*.pyc
**/.pytest_cache/
**/.eggs/
**/*.egg-info
**/build/
**/dist/
coverage/
.coverage
htmlcov/
test_files/
.venv/
**/venv/
**/env/